In [1]:
import yfinance as yf
import pandas as pd

In [2]:
aapl=yf.Ticker('AAPL')

In [4]:
his=aapl.history(period='max')

In [5]:
his.head()

            Open  High   Low  Close     Volume  Dividends  Stock Splits
Date
1980-12-12  0.41  0.41  0.41   0.41  117258400        0.0           0.0
1980-12-15  0.39  0.39  0.39   0.39   43971200        0.0           0.0
1980-12-16  0.36  0.36  0.36   0.36   26432000        0.0           0.0
1980-12-17  0.37  0.37  0.37   0.37   21610400        0.0           0.0
1980-12-18  0.38  0.38  0.38   0.38   18362400        0.0           0.0

In [6]:
type(his)

pandas.core.frame.DataFrame